spring:
  profiles:
    active: dev

#打印出默认配置启用情况
debug: false


---
server:
  port: 8080

#spring配置
spring:
  profiles: dev
  datasource:
    username: root
    password: 257689
    url: jdbc:mysql://www.xp.yiueil.cn:3306/meeting?useUnicode=true&characterEncoding=utf-8&useSSL=false&serverTimezone=UTC
    driver-class-name: com.mysql.cj.jdbc.Driver
#    primary:
#      max-idle: 10
#      max-wait: 10000
#      min-idle: 5
#      initial-size: 5
#      validation-query: SELECT 1
#      test-on-borrow: false
#      test-while-idle: true
#      time-between-eviction-runs-millis: 18800

  #邮箱设置
  mail:
    host: smtp.qq.com
    username: meeting_code@qq.com
    password: pdamokariruibacj
    properties.mail.smtp.port: 587
    default-encoding: UTF-8
    from: meeting_code@qq.com
    subject: 验证码
#mybatis配置
mybatis:
  mapper-locations: classpath:sqlmap/*Mapper*.xml
  type-aliases-package: cn.yiueil.entity


#日志配置
logging:
  level:
    cn:
      yiueil:
        meeting: debug


---
server:
  port: 8081

spring:
  profiles: test
  datasource:
    username: root
    password: 257689
    url: jdbc:mysql://www.xp.yiueil.cn:3306/meeting?useUnicode=true&characterEncoding=utf-8&useSSL=false&serverTimezone=UTC
    driver-class-name: com.mysql.cj.jdbc.Driver

mybatis:
  mapper-locations: classpath:sqlmap/*Mapper.xml
  type-aliases-package: cn.yiueil.entity

logging:
  level:
     cn:
      yiueil: debug
---
server:
  port: 8082

spring:
  profiles: prob
  datasource:
    username: root
    password: 257689
    url: jdbc:mysql://www.xp.yiueil.cn:3306/meeting?useUnicode=true&characterEncoding=utf-8&useSSL=false&serverTimezone=UTC
    driver-class-name: com.mysql.cj.jdbc.Driver

mybatis:
  mapper-locations: classpath:sqlmap/*Mapper.xml
  type-aliases-package: cn.yiueil.entity

logging:
  level:
    cn:
      yiueil: debug